MP_ACCESS_TOKEN=tu_access_token_privado_de_mercado_pago
MP_PUBLIC_KEY=tu_public_key_de_mercado_pago
DB_HOST=localhost
DB_NAME=ecommerce
DB_USER=root
DB_PASSWORD=tu_clave_base_de_datos
URL_HOST=https://tu-tunnel.tunnelmole.net